//== Colors
//
//## colors used in ArchiWiki WebSite.

$white-one:					#fff !default;
$white-two:					#ebebeb !default;
$white-three:				#fafafa	!default;
$medium-white:				#d8d8d8 !default;
$charcoal-grey:             #34414a !default;
$earth:						#a65447 !default;
$dark-peach:				#d96e5d !default;
$darker:					#222a30 !default;
$slate-85:					rgba(70, 87, 99, 0.85);
$formcol:					#465763 !default;
$rectangle:					#455763 !default;

